$main-color: #333; // Define a default if you haven't already

.card {
    text-align: center;
    background-color: $main-color;
    color: #ffffff;
    padding: 10px 15px;     
    margin: 2% 25%;

    img {
        width: 300px;
        height: 300px;
        margin: 10px auto;
        border-radius: 20%;
        display: block;
        padding: 20px;
    }

    h1 {
        font-size: 32px;
        margin: 5px auto;
        padding: 5px;
    }
    
    h2 {
        font-size: 20px;
        margin: 5px auto;
        padding: 5px;
    }

    p, a {
        padding: 10px 15px;     

        // @include style-text(); Uncomment this if you've defined the style-text mixin elsewhere
    }

    .card:hover {
        transform: scale(1.00); // Scales the card size up by 5% on hover
    }

    .Link {
        text-decoration: none; // Removes the underline
    }
}