@import 'src/styles';

.DetailView {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background-color: $purple;

    .navigation {
        display: flex;
        button {
            justify-content: space-between;
            margin-bottom: 5px;
        }
    }

    .card {
        padding: 10px 15px;     
        margin: 2% 25%;

        p, a {
            padding: 10px 15px;    
            line-height: 1.3;
        }

        .media-navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            img, iframe {
                flex-grow: 1;
                max-width: calc(100% - 100px);
                margin: 0 20px;
            }
        }   
    }

    .view-buttons {
        display: flex;
        flex-direction: column;

        button {
            margin-bottom: 5px;
        }
    }
}
