.Header {
  background-color: gray;

  h1 {
    font-size: 50px;
    text-align: center;
    color: #8A2BE2;
    padding-top: 20px;
  }
}
  
.navigation-buttons {
  display: flex;
  justify-content: center;

  button {
    font-weight: bold;
    color: #8A2BE2;
    padding: 15px 50px;
    margin: 25px 15px 25px 15px;
    cursor: pointer;
  }
}