@import 'src/styles';


$main-color: #333;
$green: #4CAF50;
$purple: #8A2BE2;

// General styling for the GalleryView container
.GalleryView {
    padding: 20px;
    background-color: $purple;
}

.month-filters, .keyword-filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    button {
        background-color: $green;
        color: #fff;
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: darken($green, 10%);
            transform: scale(1.05);
        }
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        margin: 2px;

        &:hover {
            background-color: lighten($main-color, 20%);
            transform: scale(1.05);
        }

        img {
            width: 150px;
            height: 150px;
            padding: 0%;
        }
    }
}


