.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; // This makes the loading screen cover the entire viewport
    background-color: #60016e; // Or any other color you prefer
    color: #fff; // This makes the text color white
  
    .loading-icon {
      font-size: 2em; // Adjust the size as needed
      margin-bottom: 20px;
  
      .fa-spinner {
        animation: spin 2s linear infinite; // This creates the spinning effect
      }
    }
  
    .progress-bar-container {
      width: 50%; // Use a percentage to keep it responsive
      background-color: #333; // Dark background for the progress bar
      padding: 3px;
      border-radius: 3px; // Optional: for rounded corners
      overflow: hidden; // Ensures the inner bar stays within the container
    }
  
    .progress-bar {
      height: 20px; // Or whatever height you prefer
      background-color: #4CAF50; // Or any other color you like
      width: 0; // Initial width
      border-radius: 1px; // Optional: for rounded corners
  
      // This animation will fill the bar from 0% to 100% in 20 seconds
      animation: loading 30s ease-in-out forwards;
    }
  
    // Keyframes for the spinning animation
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  
    // Keyframes for the progress bar animation
    @keyframes loading {
      0% { width: 0; }
      96% { width: 96%; }
    }
  }
  