$main-color: #6C3483; // A shade of purple

.ListView {
    background-color: gray;
    padding: 20px;

    .card:hover {
        transform: scale(1.05); // Scales the card size up by 5% on hover
    }
}

.card {
    text-align: center;
    background-color: purple;
    border: 1px solid green;
    color: #ffffff;
    padding: 10px 15px;     
    margin: 10px 0; // Reducing margin between top and bottom
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s; // For smooth scaling on hover

    img {
        width: 100%;
        width: 300px;
        height: 300px;
        margin: 10px auto;
        border-radius: 8px; // Optional, if you want a bit rounded corners for images
        display: block;
        padding: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 24px; // reduced size
        margin: 0px 0px;
        padding: 0; // reduced spacing
        color: green;
    }
    
    h2 {
        font-size: 18px; // reduced size
        margin: 5px 0px; // reduced spacing
        padding: 0; // reduced spacing
        color: green;
    }

    p, a {
        padding: 10px 15%;     

        // @include style-text(); Uncomment this if you've defined the style-text mixin elsewhere
    }
}

.sortOptions {
    position: fixed; // This will make it stick with the viewport
    top: 10px;
    right: 10px;

    background-color: rgba(255, 255, 255, 0.8); // Optional, for better visibility
    border-radius: 8px;
    padding: 10px;

    label {
        display: block;
        margin-bottom: 5px;
        color: purple;

        input {
            margin-right: 5px;
        }
    }
}

.ListView-container {
    position: relative;
    max-width: 1200px; // or your desired width
    margin: 0 auto; // centers the container
}


