@import 'src/styles';

.ListView {
    background-color: $purple;
    padding: 20px;

    .card:hover {
        transform: scale(1.05); 
    }

    .card {
        margin: 1% 25%;
        transition: transform 0.3s;
    }
}

.sortOptions {
    position: fixed; 
    top: 10px;
    right: 10px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px;

    label {
        display: block;
        margin-bottom: 5px;
        color: purple;
    }
}


