@import 'src/styles';

.ListView {
    background-color: gray;
    padding: 20px;

    .card:hover {
        transform: scale(1.05); // Scales the card size up by 5% on hover
    }

    .card {
        margin: 1% 25%;
        transition: transform 0.3s; // For smooth scaling on hover
    }
}

.sortOptions {
    position: fixed; // This will make it stick with the viewport
    top: 10px;
    right: 10px;

    background-color: rgba(255, 255, 255, 0.8); // Optional, for better visibility
    border-radius: 8px;
    padding: 10px;

    label {
        display: block;
        margin-bottom: 5px;
        color: purple;
    }
}


